# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Kotlin
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
# Но сохраняем .idea/ в репозитории, если нужно (например, для общих настроек)
!.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Дополнительные игнорируемые папки (если они не нужны в репозитории)
.target/
.mvn/
.allure/

# Разрешаем просмотр папки target (но не её содержимого)
!target/
# Разрешаем просмотр содержимого target (чтобы Git мог «увидеть» подпапки)
!target/*
# Явно разрешаем папку allure-results внутри target
!target/allure-results/
# Дополнительно: разрешаем всё содержимое allure-results
!target/allure-results/*
